.header-container {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    background-color: rgba(212, 175, 55, 0);
    height: 80px;
    width: 100vw;
    z-index: 1000;
    transition: 0.5s;
}

.company-name {
    font-family: 'Times New Roman';
    font-size: 1.5rem;
    font-weight: 600;
    color: white;
    letter-spacing: 2px;
    margin-right: auto;
    margin-left: auto;
}

.link-container-left .test1 {
    font-size: 1rem;
    margin-right: 20px;
    color: white;
}

.link-container-right ul {
    list-style: none;
    display: flex;
}

.link-container-right ul li {
    margin: 0;
    margin-right: 20px;
}

.link-container-right ul li a.right-box {
    color: rgb(255, 255, 255);
    cursor: pointer;
    min-width: 30px;
    min-height: 30px;
    display: block;
    margin-right: 0px;
    padding: 10px;
}
